               
        .logo{ height: 150px; margin-top: 50px;}
            h1{font-size:  20px; text-align: center; color: white; margin 0; vertical-align: middle;font-family: 'Orbitron', sans-serif;
        }
            .logo img {float: left; height: 100px;}
        div 
        {
            margin: 30px;
            display: block;
	        text-align:center;
	        margin:auto;
            clear: both;
            font-family: 'Orbitron', sans-serif;
            font-weight: 900;
        }

        .shadow
        {box-shadow: 0px 0px 102px -2px  rgba(12,12,13,0.28)}
        
        a {text-decoration: none;}
        
        
        .top {width:70%; margin: 0 auto; }


        
        iframe {
            top:8px; 
            border: 4px solid white;
            margin-top: 100px;
            float:left;
        }
    
        
        body {background-color: #2b2733;}
        
        
        .bottom {background-image: url(images/aqua_bg_flat.png); background-size:cover; height: 500px; margin-top: 200px;}
        

        .btn {
            background-image:url(images/btn_flat.png); 
            border-radius: 100px; 
            width: 17%; height: auto; 
            margin: 30px 0 30px auto;
            border:1px solid white; 
            display: block;
            margin-bottom: 20px;
            }
            #compOS {width: 17%; height: auto; display: block;margin: -20px 0 10px auto;}
            .btn:hover, .btn:active {border:1px solid #86cef2; opacity: .9;}
        
        .social{
            height: 50px; padding: 30px; margin: -30px 0 30px auto;
        }
            .social:hover, .social:active{opacity: .7;}
        
        .join {
        font-size: 20px;
        background: white; 
        margin: 0 auto;
        border: 1px dashed #adf72b; 
        align-content:center;
        padding: 20px;
        width: 35%;
        display: block;
        color: #2b2733;
        
        }

@media only screen and (min-width: 768px){}

      /* Mobile */
@media only screen and (min-width: 768px){}
          
          
          