    body {background-color: #2b2733;}       
        
        .logo{ height: 150px; margin-top: 50px;}
            h1{font-size:  20px; text-align: center; color: white; margin 0; vertical-align: middle;
            }
            .logo img {float: left; height: 100px;}
        div 
        {
            margin: 30px;
            display: block;
	        text-align:center;
            font-weight: 900;
        }

        .shadow
        {box-shadow: 0px 0px 102px -2px  rgba(12,12,13,0.28)}
        
        a {text-decoration: none;}
            a img { cursor: pointer}
        
        .top {width:70%; margin: 0 auto; }

        iframe {
            margin-top: 100px;
            float:left;
        }    

        .btn {
            border-radius: 100px; 
            width: 17%; height: auto; 
            margin: 30px 10px 30px auto;
            border:1px solid white; 
            display: block;
            margin-bottom: 20px;
            background-color: #adf72b;
            }
            #compOS {width: 17%; height: auto; display: block;margin: -20px 0 10px auto;}
            .btn:hover, .btn:active {border:1px solid #adf72b; opacity: .9; background-color: #96eefb;}

        .bottom {background-image: url(images/aqua_bg_flat.png); background-size:cover;  margin-top: 100px; overflow: hidden;}
        
        .social{
            height: 50px; padding: 30px; margin: 10px 0 10px auto;
        }
            .social:hover, .social:active{opacity: .7;}
        
        .join {
        font-size: 20px;
        background: white; 
        margin: 0 auto;
            margin-bottom: 50px;
        border: 1px dashed #adf72b; 
        align-content:center;
        padding: 20px;
        width: 35%;
        display: block;
        color: #2b2733;
        }
            .join:hover{background-image: url(images/bg_2copy.png) }

@media only screen and (min-width: 768px){}

      /* Mobile */
@media only screen and (min-width: 768px){}
          
          
          